<h1>LOGIN PAGE</h1>
<br>
<br>
<br>
<form action="/login" method="POST">
    <h4>Username: </h4><input type="text" name="username" placeholder="Username"\>
    <br>
    <h4>Password: </h4>
    <input  name="password" type="text" placeholder="Password">
    <input type="submit" \>
</form>
<br>
<a href="/signup">New User</a>