<h1> Room </h1>
<p>This is a demo of chatroom page</p>
<p>
    The room you are visiting is {{ roomName }}
</p>
<p>To generate a new room, here is the room id: {{ newRoomId }}</p>

<script>
    var nickname = "";
    console.log(nickname)
    // nickname = prompt("nickname?") 
    console.log(nickname)
    
</script>

<form action="/{{roomName}}/messages" method="POST">
<input type="text" name="nickname" placeholder="{NICKNAME}" value="{NICKNAME}" disabled/>
<input type="text" name="message" placeholder="enter message"/>
<input type="submit" value="create message"/> 
</form>