<h1>Sign Up As New User!</h1>

<form action="/signup/newuser" method="POST">
    <p>Username: </p>
    <input type="text" name="Username" placeholder="Username" \>

    <p>Password: </p>
    <input type="text" name="Password" placeholder="Password" \>

    <p>Age: </p>
    <input type="text" name="Age" placeholder="Age" \>

    <p>Address: </p>
    <input type="text" name="Address" placeholder="Address" \>

    <p>Email: </p>
    <input type="text" name="Email" placeholder="Email" \>
    <br>
    <br>
    <input type="submit" \>
</form>

<br>
<br>
<a href="/">Back To Login</a>